@use "sass:map";
@mixin google-font($font) {@import url('https://fonts.googleapis.com/css?family=' + $font);}
@include google-font('Italianno'); /* calligraphy font */
@include google-font('Fleur+De+Leah'); /* script font */
@include google-font('Grenze+Gotisch'); /* gothic font */
@include google-font('EB+Garamond'); /* serif variable font */
@include google-font('Cormorant'); /* serif variable font */
@include google-font('Bodoni+Moda'); /* serif variable font */
@include google-font('Comme'); /* sans-serif variable font */
@include google-font('Ysabeau'); /* semi-serif variable font */

// front and back 
@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeout { from { opacity: 1; } to { opacity: 0; } }
@keyframes slidein { from { transform: translateX(-100%); } to { transform: translateX(0); } }
@keyframes slideout { from { transform: translateX(0); } to { transform: translateX(-100%); } }
@keyframes slideup { from { transform: translateY(100%); } to { transform: translateY(0); } }
@keyframes slidedown { from { transform: translateY(0); } to { transform: translateY(100%); } }
@keyframes sepia2black { from { filter: sepia(1); } to { filter: grayscale(1); } }
@keyframes black2sepia { from { filter: grayscale(1); } to { filter: sepia(1); } }

// fade in
@mixin fade-in($time) { opacity: 0; animation-name: fadein; animation-duration: $time; animation-timing-function: ease-in-out; }
@mixin fade-out($time) { opacity: 0; animation-name: fadeout; animation-duration: $time; animation-timing-function: ease-in-out; }
@mixin slide-in($time) { transform: translateX(-100%); animation-name: slidein; animation-duration: $time; animation-timing-function: ease-in-out; }
@mixin slide-out($time) { transform: translateX(0); animation-name: slideout; animation-duration: $time; animation-timing-function: ease-in-out; }
@mixin slide-up($time) { transform: translateY(100%); animation-name: slideup; animation-duration: $time; animation-timing-function: ease-in-out; }
@mixin slide-down($time) { transform: translateY(0); animation-name: slidedown; animation-duration: $time; animation-timing-function: ease-in-out; }
@mixin sepia2black($time) { filter: sepia(1); animation-name: sepia2black; animation-duration: $time; animation-timing-function: ease-in-out; }
@mixin black2sepia($time) { filter: grayscale(1); animation-name: black2sepia; animation-duration: $time; animation-timing-function: ease-in-out; }

  
@mixin newsletter { font-family: 'EB Garamond', serif; }
@mixin flourish { font-family: 'Fleur De Leah', cursive; }
@mixin comme { font-family: 'Comme', sans-serif; }
@mixin grenze { font-family: 'Grenze Gotisch', cursive; }
@mixin ysabeau { font-family: 'Ysabeau', cursive; }
@mixin bodoni { font-family: 'Bodoni Moda', serif; }
@mixin cormorant { font-family: 'Cormorant', serif; }
@mixin italianno { font-family: 'Italianno', cursive; }
@mixin headline { @include grenze; font-size: 2em; }
@mixin subhead { @include ysabeau; font-size: 1.5em; }
@mixin article-style { @include grenze; font-size: 1.25em; sepia2black: 1s;  }
$themes: (
  stalkinghorse: (
    兄弟: (本音: #4a4369, 建前: #22223b),
    兄妹: (本音: #9a8c98, 建前: #c9ada7),
    色: (光: #f2e9e4, 暗: #2a1819 )
  ),
  evergreen: (
    兄弟: (本音: #284b63, 建前: #153952),
    兄妹: (本音: #3c6e71, 建前: #286f64),
    色: (光: #d9d9d9, 暗: #353535 )
  ),
  oceanblue: (
    兄弟: (本音: #00b4d8, 建前: #0077b6),
    兄妹: (本音: #caf0f8, 建前: #90e0ef),
    色: (光: #fff, 暗: #03045e )
  ),
  newsletter: (
    兄弟: (本音: #f5ebe0, 建前: #d6ccc2),
    兄妹: (本音: #e3d5ca, 建前: #d5bdaf),
    色: (光: #edede9, 暗: #554441 )
  )
);
@function elder-brother($theme) { @return map.get($themes, $theme, 兄弟, 本音);}
@function younger-brother($theme) { @return map.get($themes, $theme, 兄弟, 建前);}
@function elder-sister($theme) { @return map.get($themes, $theme, 兄妹, 本音); }
@function younger-sister($theme) { @return map.get($themes, $theme, 兄妹, 建前); }
@function themed-light($theme) { @return map.get($themes, $theme, 色, 光);}
@function themed-dark($theme) { @return map.get($themes, $theme, 色, 暗);}
@mixin fwb($fgcolor, $bgcolor) { color: $fgcolor; background-color: $bgcolor; }
@mixin colorfade($color1, $color2) {
  color: $color1; transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 1s linear;
  body & { color: $color2; }
}
@mixin backfade($color1, $color2) {
  background-color: $color1; transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 1s linear;
  body & { background-color: $color2; }
}

@mixin spring-and-autumn($theme) {@include colorfade(younger-brother($theme), elder-brother($theme));@include backfade(younger-sister($theme), elder-sister($theme));}
@mixin three-kingdoms($theme) { @include colorfade(younger-sister($theme), elder-sister($theme)); @include backfade(younger-brother($theme), elder-brother($theme));}
@mixin spring-dark($theme) { @include colorfade(younger-brother($theme), elder-brother($theme));@include backfade(#000, themed-dark($theme));}
@mixin spring-lite($theme) { @include colorfade(younger-brother($theme), elder-brother($theme)); @include backfade(#fff, themed-light($theme));}
@mixin autumn-dark($theme) { @include colorfade(younger-sister($theme), elder-sister($theme)); @include backfade(#000, themed-dark($theme));}
@mixin autumn-lite($theme) { @include colorfade(younger-sister($theme), elder-sister($theme)); @include backfade(#fff, themed-light($theme));}
@mixin autumn-themed($theme) {
  &[data-theme=#{$theme}][data-tone=dark], [data-theme=#{$theme}] &[data-tone=dark], [data-theme=#{$theme}][data-tone=dark] &, [data-theme=#{$theme}] [data-tone=dark] &, [data-tone=dark] [data-theme=#{$theme}] & { @include autumn-dark($theme);}
  &[data-theme=#{$theme}][data-tone=lite], [data-theme=#{$theme}] &[data-tone=lite], [data-theme=#{$theme}][data-tone=lite] &, [data-theme=#{$theme}] [data-tone=lite] &, [data-tone=lite] [data-theme=#{$theme}] & { @include autumn-lite($theme);}
}
@mixin spring-themed($theme) { 
  &[data-theme=#{$theme}][data-tone=dark], [data-theme=#{$theme}] &[data-tone=dark], [data-theme=#{$theme}][data-tone=dark] &, [data-theme=#{$theme}] [data-tone=dark] &, [data-tone=dark] [data-theme=#{$theme}] & { @include spring-dark($theme);}
  &[data-theme=#{$theme}][data-tone=lite], [data-theme=#{$theme}] &[data-tone=lite], [data-theme=#{$theme}][data-tone=lite] &, [data-theme=#{$theme}] [data-tone=lite] &, [data-tone=lite] [data-theme=#{$theme}] & { @include spring-lite($theme);}
}
@mixin spring() {
  @include spring-themed(stalkinghorse);
  @include spring-themed(evergreen);
  @include spring-themed(oceanblue);
  @include spring-themed(newsletter);
}
@mixin autumn() {
  @include autumn-themed(stalkinghorse);
  @include autumn-themed(evergreen);
  @include autumn-themed(oceanblue);
  @include autumn-themed(newsletter);
}
* { padding: 0; margin: 0; box-sizing: border-box; }
a { text-decoration: none; }
html, body { @include newsletter; padding-top: 1.2rem; }
ul { list-style-type: none; &.bullet { list-style-type: disc;}}
header { @include spring; font-size: 1.2rem; position: fixed; top: 0; width:100%; text-align: center; @include flourish; }
article { 
  @include autumn;
  a { @include autumn; border-bottom: 1px dashed; &:hover { @include spring; transition: color 1s; }}
  h1 { @include grenze; font-size: 2rem; }
  h6 { @include italianno; }
  p {  @include ysabeau; margin-bottom: 1rem; }
}
