#!/usr/bin/env zsh -i
#- Exports the Nosh environment variables and functions.

# Which dir is the appdir. Are we in it?
Nosh_AppDir="$(dirname $(readlink -f .envrc))"
export Nosh_LogDir="${Nosh_AppDir}/logs"
export Nosh_Dir="${Nosh_AppDir}/.nosh"
export Nosh_UsrDir="${Nosh_Dir}/usr"  # Is this really better than just using slash three letters?
export Nosh_BinDir="${Nosh_Dir}/bin"
export Nosh_LibDir="${Nosh_Dir}/lib"
export Nosh_Config="${Nosh_Dir}/etc"
export Nosh_TmpDir="${Nosh_Dir}/tmp"
chmod -R 755 "${Nosh_BinDir}" "${Nosh_LibDir}" "${Nosh_UsrDir}/profiles"
export fpath+=("$Nosh_LibDir")
export PATH="${Nosh_BinDir}:${PATH}"
[[ ! -d "${Nosh_UsrDir}" ]] && mkdir -p "${Nosh_UsrDir}/profiles"
[[ ! -d "${Nosh_Config}/cert" ]] && mkdir -p "${Nosh_Config}/cert/priv" && mkdir -p "${Nosh_Config}/cert/pub"
[[ ! -f "${Nosh_Config}/nosh.yml" ]] && nosh sys:upgrade
chmod -R 600 "${Nosh_Config}/cert/priv" "${Nosh_Config}/cert/pub"
[[ ! -d "${Nosh_TmpDir}" ]] && mkdir -p "${Nosh_TmpDir}"
[[ ! -d "${Nosh_LogDir}" ]] && mkdir -p "${Nosh_LogDir}"
find "${Nosh_UsrDir}/profiles" -type f -exec {} \;
scrawl info nosh.init "Nosh environment loaded."
exit 0