#!/usr/bin/env zsh -i
#- Exports the Nosh environment variables and functions.
Nosh_AppDir="$(dirname $0 | realpath)"
[[ "$(pwd)" == "$(ls .envrc | realpath)" ]] && Nosh_AppDir="$(pwd)"
export Nosh_AppDir
export Nosh_LogDir="${Nosh_AppDir}/logs"
export Nosh_Dir="${Nosh_AppDir}/.nosh"
export Nosh_UsrDir="${Nosh_Dir}/usr"
export Nosh_BinDir="${Nosh_Dir}/bin"
export Nosh_LibDir="${Nosh_Dir}/lib"
export Nosh_Config="${Nosh_Dir}/etc"
export Nosh_TmpDir="${Nosh_Dir}/tmp"
chmod -R 755 "${Nosh_BinDir}"
chmod -R 755 "${Nosh_LibDir}"
chmod -R 755 "${Nosh_UsrDir}/profiles"
export fpath+=($Nosh_LibDir)
source "${Nosh_LibDir}/logging.zsh"
[[ ! -f "${Nosh_AppDir}/nosh.yml" ]] && nosh init:config
[[ ! -d "${Nosh_UsrDir}" ]] && mkdir -p "${Nosh_UsrDir}"
[[ ! -d "${Nosh_TmpDir}" ]] && mkdir -p "${Nosh_TmpDir}"
[[ ! -d "${Nosh_LogDir}" ]] && mkdir -p "${Nosh_LogDir}"
export PATH="${Nosh_BinDir}:${PATH}"
find "${Nosh_UsrDir}/profiles" -type f -exec source {} \;
scrawl "info" "nosh.init" "Nosh environment loaded."
exit 0