logs/*
!logs/.gitkeep
.DS_Store
.nosh/tmp/*
.nosh/usr/profiles/*
!.nosh/usr/profiles/base.profile
node_modules
dist/*
.nosh/etc/.nosh.cyk
.nosh/etc/cert/pub/*
.nosh/etc/cert/priv/*
.nosh/etc/cert/ssl/*
app/*