
@use "sass:meta";
@function google-font($font) {
  @return 'https://fonts.googleapis.com/css?family=#{$font}:ital,wght@1,100..900&display=swap';
}

@import url(google-font('Roboto'));
@import url(google-font('Open+Sans'));
@import url(google-font('Doto'));
@import url(google-font('Shadows+Into+Light+Two'));
/* color theme */
$black: #001514;
$citron: #c2d076;
$cinereous: #93827f;
$slate: #7161ef;
$blue: #84e6f8;

* { padding: 0; margin: 0 }
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
  background-color: $blue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Doto', sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

a { color: $cinereous; text-decoration: none;
  &:hover { text-decoration: underline; color: $slate;}
  &:visited { color: $cinereous; text-decoration: none; }
}
.slate { color: $slate; }
.citron { color: $citron; }
.cinereous { color: $cinereous; }
.black { color: $black; }
.blue { color: $blue; }
.bg-slate { background-color: $slate; }
.bg-citron { background-color: $citron; }
.bg-cinereous { background-color: $cinereous; }
.bg-black { background-color: $black; }
.bg-blue { background-color: $blue; }
ul#navbar {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1rem;
  background-color: $black;
  list-style-type: none;
  li {
    color: $blue;
    a { color: $blue; &:hover { color: $slate; text-decoration: none; }}
    ul { display: none; }
    &:hover ul {
      list-style-type: none;
      display: block;
      position: absolute;
      background-color: $citron;
      color: $black;
      a { color: $black; &:hover { color: $citron; } }
      li {
        width: 250px;
        overflow: none;
        padding: 0.5rem 1rem;
        text-align: center;
        color: $black;
        &:hover { background-color: $black; color: $citron; a { color: $citron; } }
      }
    }
    
  }
}
h1#layout-headline {
  padding: 0px;
  margin: 0px;
  background-color: $black;
  color: $citron;
  text-align: center;
}
.fader {
  opacity: 0.3;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 1.5rem;
  letter-spacing: 0.11rem;
  transition: opacity 2s;
  animation-timing-function: ease-in-out;
  margin: 2rem 0;
  background-color: $black;
  padding: 0 1rem;
  color: $slate;
  &:hover { opacity: 1; }
  h1,h2,h3,h4,h5,h6 { color: $citron; }
}
.edgewood {
  content: '<img src="/edgewood.png" alt="Edgewood" />';
  background-color: $citron;
  /* the image is 800x600: maintain aspect ratio of 4:3 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 400px;
}