
@use "sass:meta";
@function google-font($font) {
  @return 'https://fonts.googleapis.com/css?family=#{$font}:ital,wght@1,100..900&display=swap';
}

@import url(google-font('Roboto'));
@import url(google-font('Open+Sans'));
@import url(google-font('Doto'));
/* color theme */
$black: #001514;
$citron: #c2d076;
$cinereous: #93827f;
$slate: #7161ef;
$blue: #84e6f8;

* { padding: 0; margin: 0 }
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
  background-color: $blue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Doto', sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

a { color: $cinereous; text-decoration: none;
  &:hover { text-decoration: underline; color: $slate;}
  &:visited { color: $cinereous; text-decoration: none; }
}



